.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.portfolio{
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #040d1a;
  background-image:
    radial-gradient(circle at 85% 90%, rgba(80, 200, 255, 0.12), transparent 20%),
    radial-gradient(circle at 70% 80%, rgba(40, 150, 220, 0.08), transparent 30%),
    linear-gradient(
      180deg,
      #040d1a 10%,
      #08112b 25%,
      #0a1c3d 50%,
      #0d2748 70%,
      #123a52 85%,
      #1a4d66 100%
    );
}