@mixin presentation_background {
  background:
    radial-gradient(
      circle at 85% 90%,
      rgba(80, 200, 255, 0.12),
      transparent 20%
    ),
    radial-gradient(
      circle at 70% 80%,
      rgba(40, 150, 220, 0.08),
      transparent 30%
    ),
    linear-gradient(
      140deg,
      #070b1a 10%,
      #081226 25%,
      #0a1c33 50%,
      #0d2740 70%,
      #123a52 85%,
      #1a4d66 100%
    );
}
@mixin section_background {
  background-color: #040d1a;
  background-image:
    linear-gradient(
      180deg,
      #070b1a 0%,
      #040d1a 50%,
      #08112b 80%,
      #0c1833 85%
    );
}
@mixin projects_background {
  background-color: #040d1a;
  background-image:
    linear-gradient(
      180deg,
      #070b1a 0%,
      #070b17 50%,
      #050812 80%,
      #050812 85%
    );
}

@mixin card-blue {
  background:
    linear-gradient(
      225deg,
      rgba(80, 140, 255, 0.25) 0%,
      rgba(80, 140, 255, 0.1) 4%,
      transparent 7%
    ),
    linear-gradient(
      220deg,
      #0c1324 0%,
      #0a0f1d 60%,
      #050812 100%
    );
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  flex-direction: column;
  height: 25rem;
  border-radius: 2rem;
  &:hover{
    box-shadow: 0 10px 40px rgba(106, 236, 217, 0.2);
    transform: translateY(-6px) scale(1.05);
    transition: 0.3s ease;
  }
}