.title {
  font-family: Lobster, serif;
  font-size: 30px;
  color: cyan;
}

.giga{
  font-size: 60px;
}

.bigger{
  font-size: 30px;
}

.big{
  font-size: 25px;
}

.normal{
  font-size: 16px;
}

.small{
  font-size: 14px;
}

.lobster{
  font-family: Lobster, serif;
}

.monospace {
  font-family: Roboto, monospace;
}

.justify{
  text-align: justify;
}

.capital{
  text-transform: capitalize;
}
.uppercase{
  text-transform: uppercase;
}

.bold{
  font-weight: 700;
}

.grey {
  color: rgba(255,255,255,0.6);
}

.cyan {
  color: cyan;
}

.purple {
  color: #a956f6;
}

.white{
  color: white
}